---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { marked } from "marked";
import LangText from "./LangText.astro";

type Props = {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
const { title, description, image, year } = project.data;

const htmlDescriptionEn = marked.parse(description.en);
const htmlDescriptionEs = marked.parse(description.es);
---

<a
  href={`/projects/${project.id}`}
  class="sm:flex sm:flex-row-reverse sm:justify-between sm:gap-6"
>
  <Image
    src={image}
    alt={title.en}
    width={100}
    height={100}
    class="rounded-lg w-[100px] h-[100px] object-cover"
  />
  <div class="mt-4 sm:my-auto">
    <p class="opacity-60 mb-2">{year}</p>
    <h3 class="font-medium hover-underline">
      <LangText text={title} />
    </h3>
    <div class="text-sm opacity-60 mt-2 mb-3">
      <div class="lang-en">
        <Fragment set:html={htmlDescriptionEn} />
      </div>
      <div class="lang-es">
        <Fragment set:html={htmlDescriptionEs} />
      </div>
    </div>
  </div>
</a>
